.contact-container {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../../assets/images/sd.jpg');
    background-position: 50% 50%;
    padding: 2rem 0;
    text-align: center;

    .card-container {
        width: 712px;
        margin: 60px auto 0;
        display: grid;
        grid-gap: 48px;
        grid-template-columns: auto auto auto;
    }

    .card {
        background-color: white;
        padding: 15px;
        border-radius: 30px;
        h4{
            font-weight: 700;
            margin-bottom: 1.5rem;
        }

        p {
            color: rgb(78, 75, 75);
            font-size: 19px;
        }

        a {
            color: red;
            font-size: 17px;
        }

        a:hover {
            color: black;
        }
    }
    .card-3{
        padding: 38px;
    }

    p.p2 {
        color: white;
        font-size: larger;
        text-align: center;
        padding: 2rem 0;

        a {
            color: white;
            border-bottom: 1px solid white;
            text-decoration: none;
        }

        a:hover {
            border-bottom: 1px solid red;
            text-decoration: none;
        }

    }

}
@media (max-width:575px){
    .contact-container{
        padding: 2rem;
        .card-container {
            width: 100%;
             grid-template-columns: auto;
        }

    }
   
}
@media only screen and (min-width:576px) and  (max-width:767px){
      .contact-container{
        padding: 2rem;
        .card-container {
            
            width: 100%;
            grid-template-columns: auto auto;
        }
      }
  
}
@media only screen and (min-width:768px) and  (max-width:991px){
      .contact-container{
        padding: 2rem;
        .card-container {
            width: 100%;
            grid-template-columns: auto auto auto;
        }

      }
    
}