<div class="contact-container">
    <div class="container">
        <div class="card-container" data-aos="fade-up" data-aos-easing="ease-in-sine"
        data-aos-duration="3000">
            <div class="card ">
                <h4>FIND US</h4>
                <p>121 Rock Sreet, 21 Avenue, New York, NY 92103-9000</p>
            </div>
            <div class="card">
                <h4>HOURS</h4>
                <h5>Monday - Saturday</h5>
                <p>9am - 7pm</p>
                <h5>Sunday</h5>
                <p>10am - 6pm</p>
            </div>
            <div class="card card-3">
                <h4>CALL US </h4>
                <h5><a href="#">1 (234) 567 891</a></h5>
                <h5> <a href="#">2 (345) 333-897</a> </h5>
            </div>
        </div>
        <div data-aos="zoom-in" data-aos-easing="ease-in-sine"
        data-aos-duration="4000">
            <p class="p2">Image from  <a href="#" >Freepik</a></p>
        </div>
    </div>
</div>