<div class="carousel-container">
    <div>
        <div class="text-container">
           <div data-aos="zoom-in" data-aos-duration="2000"
           data-aos-easing="ease-in-sine">
            <h1>Satisfy Your Pizza Cravings Today!</h1>
           </div>
            <div data-aos="zoom-in" data-aos-duration="3000"
            data-aos-easing="ease-in-sine">
                <p>Stop by and find out what all the buzz is about. Order your favorites today or visit our restaurant to create your ideal pizza!</p>
            </div>
        </div>
        <div class="carousel-box">
            <div class="container text-center py-3">
                <div id="demo" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="carousel-img-container">
                            <div>
                                <img src="../../../assets/images/carouselImage/52.jpg" width="100%">
                               </div>
                               <div>
                                <img src="../../../assets/images/carouselImage/74.jpg" width="100%">
                               </div>
                               <div>
                                <img src="../../../assets/images/carouselImage/t3.jpg" width="100%">
                               </div>
                               <div>
                                <img src="../../../assets/images/carouselImage/33.jpg" width="100%">
                               </div>
                           </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="carousel-img-container2">
                               <div>
                                <img src="../../../assets/images/carouselImage/4.jpg" width="75%">
                               </div>
                               <div>
                                   <img src="../../../assets/images/carouselImage/f3.jpg" width="75%">
                                </div>
                                <div>
                                    <img src="../../../assets/images/carouselImage/r31.jpg" width="75%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                        <span><i class="fa-solid fa-angle-left"></i></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                        <span><i class="fa-solid fa-angle-right"></i></span>
                    </button>
                </div>
           
        </div>
        <div class="order-now">
           <a href="#"><button type="button">ORDER NOW</button></a>
        </div>
    </div>
</div>