<div class="container py-5">
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="image-container " data-aos="fade-right" data-aos-duration="1200"
            data-aos-easing="ease-in-sine"></div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="text-container text-center py-5" data-aos="fade-up-left"  data-aos-duration="1200"
            data-aos-easing="ease-in-sine">
                <h5 >WELCOME TO</h5>
                <h1 >John's Pizzeria</h1>
                <p class=" pt-2 p1 ">We are specialized in authentic Neapolitan pizza, baked hot and fast in a brick oven to achieve a not-too-thick, not-to-thin chewy, smoky crust, made from a recipe that's been handed down through five generations of pizzaioli (pizza makers). </p>
               <div class="list">
                <ul class="m-auto">
                    <li>Tasty, fresh daily</li>
                       <li> Best pizza in NYC</li>
                </ul>
               </div>
                <p><a href="#"><button type="button">SEE OUR MENU</button></a></p>
                <p class="p2">Image from  <a href="#" >Freepik</a></p>
            </div>
        </div>
    </div>
</div>