.footer{
    color: #ffffff;
    background-color: #333333;
    text-align: center;
    padding: 2rem;

    .text{
        padding: 2rem 0;

        a{
            color: #adcce9;
        }
        a:hover{
            color: rgb(95, 91, 91);
        }
    }
}