<div class="federico-container container-fluid ">
  <div class="text">
     <div class="row">
        <div class="col-lg-4 col-12">
            <div class="text-container">
                <div class="">
                    <div   data-aos="fade-right"
                    data-aos-offset="300" data-aos-duration="1200"
                    data-aos-easing="ease-in-sine">
                    <h1>Life is a combination of magic and pizza</h1>
                    </div>
                    <div data-aos="fade-up-right" data-aos-duration="900"
                    data-aos-easing="ease-in-sine">
                        <p class="p1">- FEDERICO FELLINI</p>
                    <p class="p2">Image from  <a href="#" >Freepik</a></p>
                    <p>
                        <a href="#"><button>View Menu</button></a>
                    </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-12 chef chef-bg" data-aos="fade-left"
        data-aos-anchor="#example-anchor"
        data-aos-offset="600"
        data-aos-duration="1200">

        </div>
     </div>
  </div>
</div>