<div class="container header py-3">
    <div class="d-flex justify-content-between">
        <div>
           <a href="#"> <img src="../../../assets/images/default-logo.png" width="65px"></a>
        </div>
        <div>
            <a  data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                <i class="fa-solid fa-bars"></i>
              </a>
              <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <div></div>
                  <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <div class="links text-center pt-3">
                    <a routerLink="home" class="">Home</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>