<div class="pricing-container">
    <div class="container content">
        <div class="container1">
            <div data-aos="fade-down"
            data-aos-easing="ease-in-sine"
            data-aos-duration="2000">
                <h1>Pizza</h1>
            </div>
            <div data-aos="fade-up"
            data-aos-duration="3000" class="pt-3">
                <div>
                    <h3>NEW YORK</h3>
                    <p>Classic New York style thin crust</p>
                    <p>Medium 14" <span>$19</span></p>
                    <p>Large 16" <span>$21</span></p>
                </div>
                <div>
                    <h3>Deep Dish Pan</h3>
                    <p>Thick crust pan pizza</p>
                    <p>Medium 14" <span> $21</span></p>
                    <p>Large 16" <span>$23</span></p>
                </div>
                <div>
                    <h3>Sicilian</h3>
                    <p>Square deep dish with our housemade onion tomato sauce</p>
                    <p><span>$26</span></p>
                </div>
                <p class="p2">Image from <a href="#">Freepik</a></p>
            </div>
        </div>
        <div class="container1">
            <div data-aos="fade-down"
            data-aos-easing="ease-in-sine"
            data-aos-duration="2000">
                <h1>Specialty Pizza</h1>
            </div>
            <div data-aos="fade-up"
            data-aos-duration="3000" class="pt-2">
                <div>
                    <h3>New York Special</h3>
                    <p>Pepperoni, sausage, bell pepper, onion and mushroom</p>
                    <p>Medium 14" <span> $27.50</span></p>
                    <p>Large 16" <span>$30.50</span></p>
                </div>
                <div>
                    <h3>Vegetarian</h3>
                    <p>Mushroom, bell pepper, onion, tomato and artichoke</p>
                    <p>Medium 14" <span> $24.50</span></p>
                    <p>Large 16" <span>$27.50</span></p>
                </div>
                <div>
                    <h3>Papperoni</h3>
                    <p>Pepperoni, sausage, meatball, ham and bacon</p>
                    <p>Medium 14" <span> $29</span></p>
                    <p>Large 16" <span>$32</span></p>
                </div>
            </div>
        </div>
    </div>