<div class="tasteItaly-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="text-container" data-aos="fade-right" data-aos-duration="2000"
        data-aos-easing="ease-in-sine">
          <h1>The taste of Italy</h1>
          <div class="py-5">
            <div id="accordion">
              <div class="card">
                  <a href="#collapseOne" class="collapsed click" data-bs-toggle="collapse">
                    <div class="card-header">
                     <div>
                      Wood-fired ovens
                     </div>
                      <div>
                        <i class="fa-solid fa-angle-down"></i>
                      </div>
                    </div>
                  </a>
                <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                  <div class="card-body">
                    <ul>
                      <li> - Interdum velit euismod in pellentesque.</li>
                      <li> - Tristique et egestas quis ipsum suspendisse.</li>
                      <li>- Nibh nisl condimentum id venenatis.</li>
                      <li> - Diam volutpat commodo sed egestas egestas fringilla.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                  <a href="#collapseTwo" class=" collapsed click" data-bs-toggle="collapse">
                   <div class="card-header">
                    <div>
                      Flavors and aromas
                     </div>
                      <div>
                        <i class="fa-solid fa-angle-down"></i>
                      </div>
                   </div>
                  </a>
                <div id="collapseTwo" class="collapse " data-bs-parent="#accordion">
                  <div class="card-body">
                    <ul>
                      <li>Mattis nunc sed blandit libero volutpat.</li>
                      <li> - Tortor at risus viverra adipiscing at in tellus.</li>
                      <li> - Purus ut faucibus pulvinar elementum.</li>
                      <li> - Blandit turpis cursus in hac habitasse</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                  <a href="#collapseThree" class="collapsed click" data-bs-toggle="collapse">
                   <div class="card-header">
                    <div>
                      Certificated Made in Italy
                     </div>
                      <div>
                        <i class="fa-solid fa-angle-down"></i>
                      </div>
                   </div>
                  </a>
                <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                  <div class="card-body">
                    <ul>
                      <li> - Interdum velit euismod in pellentesque.</li>
                      <li> - Tristique et egestas quis ipsum suspendisse.</li>
                      <li>- Nibh nisl condimentum id venenatis.</li>
                      <li> - Diam volutpat commodo sed egestas egestas fringilla.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                  <a href="#collapseFour" class="collapsed click" data-bs-toggle="collapse">
                    <div class="card-header">
                      <div>
                        Sample Headine
                       </div>
                        <div>
                          <i class="fa-solid fa-angle-down"></i>
                        </div>
                    </div>
                  </a>
                <div id="collapseFour" class="collapse " data-bs-parent="#accordion">
                  <div class="card-body">
                    <ul>
                      <li>Mattis nunc sed blandit libero volutpat.</li>
                      <li> - Tortor at risus viverra adipiscing at in tellus.</li>
                      <li> - Purus ut faucibus pulvinar elementum.</li>
                      <li> - Blandit turpis cursus in hac habitasse</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="p2">Image from <a href="#">Freepik</a></p>
      </div>
      <div class="col-lg-6 col-12">
        <div class="image-container">
          <div class="image image1"></div>
          <div class=" image image2" data-aos="zoom-in" data-aos-duration="2000"
          data-aos-easing="ease-in-sine" ></div>
          <div class=" image image3" data-aos="zoom-in" data-aos-duration="2000"
          data-aos-easing="ease-in-sine" ></div>
          <div class=" image image4"></div>
        </div>
      </div>
    </div>
  </div>